---
import { SITE_TITLE } from "../../consts";
---

<nav class="nav">
  <div class="nav-wrapper">
    <div class="nav-content-wrapper">
      <div class="nav-content">
        <a href="/" class="nav-title"
          ><img src="/svg/icon.svg" alt={SITE_TITLE} class="w-8 h-auto" /></a
        >
        <div class="nav-menu">
          <div class="nav-item-wrapper">
            <a href="/archive" class="nav-item-content">Todas las notas</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
