.div-hero {
  height: 50vh;
  background-image: url("/svg/bg-hero-image.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hv-50 {
  height: 50vh;
}

.hv-20 {
  height: 20vh;
}
