.div-hero {
  height: 50vh;
  background-image: url("/svg/bg-hero-image.svg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
