.bg-adjetives {
  background-image: linear-gradient(
      -20deg,
      rgba(185, 33, 255, 0.75) 0%,
      hwb(191 13% 1% / 0.65) 100%
    ),
    url("/img/bg-adjetives.jpg");
  transition: 0.3s;
  background-position: center;
  cursor: pointer;
}

.bg-adjetives:hover {
  background-image: linear-gradient(
      -20deg,
      rgba(185, 33, 255, 0.93) 0%,
      hwb(191 13% 1% / 0.72) 100%
    ),
    url("/img/bg-adjetives.jpg");
  transform: scale(1.05);
  transition: 0.3s;
}

.bg-vocabulary {
  background-color: rgba(65, 89, 208, 0.514);
  background-image: linear-gradient(
      43deg,
      rgba(65, 89, 208, 0.86) 0%,
      rgba(200, 80, 192, 0.76) 46%,
      rgba(255, 205, 112, 0.7) 100%
    ),
    url("/img/bg-vocabulary.jpg");

  transition: 0.3s;
  background-position: top left;
  cursor: pointer;
}

.bg-vocabulary:hover {
  background-image: linear-gradient(
      43deg,
      rgba(65, 89, 208, 0.86) 0%,
      rgba(200, 80, 192, 0.85) 46%,
      rgba(255, 205, 112, 0.8) 100%
    ),
    url("/img/bg-vocabulary.jpg");
  transform: scale(1.05);
  transition: 0.3s;
}
