.hero-image-topic {
  height: 30vh;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
      to right,
      rgba(65, 67, 69, 0.75),
      rgba(35, 37, 38, 0.7)
    ),
    url("/img/bg-adjetives.jpg"); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
      to right,
      rgba(65, 67, 69, 0.75),
      rgba(35, 37, 38, 0.7)
    ),
    url("/img/bg-adjetives.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hv-30 {
  height: 30vh;
}
