---
import BaseLayout from "../layouts/temas/BaseLayout.astro";
import ArchivePostList from "../layouts/temas/ArchivePostList.astro";
---

<BaseLayout primaryTitle="404 Not Found">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">404</h2>
        <div class="tag-post-list">Parece que te has perdido 🤔</div>
      </div>
    </div>
  </section>
</BaseLayout>
