---
import HeroImage from "../components/HeroImage";
import ListNotes from "../components/ListNotes";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mis Notas de Ingles">
  <HeroImage />
  <main class="container mx-auto px-4 sm:px-8">
    <ListNotes />
  </main>
</Layout>
