---
import Layout from "../layouts/layout.astro";
import HeroImage from "../components/HeroImage";
import ListNotes from "../components/ListNotes";
---

<Layout title="Mis Notas de Ingles">
  <HeroImage />
  <main class="container mx-auto px-4 sm:px-8">
    <ListNotes />
  </main>
</Layout>
